:root {
  --dark-ink: #1f1f1f;
  --mid-ink: #636363;
  --light-ink: #cccbcb;
  --lightest-ink: #ececec
}

html {
  background-color: var(--dark-ink);
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: white;
}

hr {
  width: 100%;
  margin: 16px;
  color: var(--lightest-ink);
}

.center-text {
  margin: 10px 0px;
  align-self: center;
}

.left-text {
  margin: 5px 0px;
  align-self: start;
}

#about {
  line-height: 1.3;
}

#about > p {
  padding: 6px 0px;
}

#url-hint > span {
  text-decoration: underline;
}

#content {
  padding: 20px 10px;
}

@media screen and (min-width:800px) {
  #content {
    max-width: 70%;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-auto {
  flex: 1 1 auto;
}

#api-test-url {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 4px;
  line-height: 1.6;
}

#api-test-url > label {
  flex: 0 0;
  padding: 0.35em 0.15em 0.35em 0.35em;
  background-color: var(--lightest-ink);
  color: var(--mid-ink);
  border: 0.5px solid var(--light-ink);
  border-right-width: 0;
  border-radius: 6px 0 0 6px;
  vertical-align: center;
}

#api-test-url > input {
  flex: 1 1;
  width: 100%;
  padding: 0.35em 0.35em 0.35em 0.15em;
  border: 0.5px solid var(--light-ink);
  margin: 0px;
  border-radius: 0 6px 6px 0;
  font: inherit;
}

header {
  background-color: var(--dark-ink);
  color: white;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

footer {
  height: 50px;
}

a {
  color: black;
}

h1 {
  margin: 4px;
  font-size: 40px;
}

h2 {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

pre {
  font-family: monospace;
  border: 0.5px solid #cccbcb;
  box-shadow: 0px 0px 12px #cccbcb;
  box-sizing: border-box;
  margin: 10px 0px;
  padding: 20px;
  width: 100%;
  line-height: 1.3;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
