:root {
  --dark-ink: #1f1f1f;
  --mid-ink: #636363;
  --light-ink: #cccbcb;
  --lightest-ink: #ececec
}

.bg-dark-ink {
  background-color: var(--dark-ink);
}

.flex-auto {
  flex: 1 1 auto;
}

html {
  background-color: var(--dark-ink);
}

.rounded {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.pre-wrap {
  white-space: pre-wrap;
}

#api-test-url > label {
  flex: 0 0;
  padding: 0.35em 0.15em 0.35em 0.35em;
  background-color: var(--lightest-ink);
  color: var(--mid-ink);
  border: 0.5px solid var(--light-ink);
  border-right-width: 0;
  border-radius: 6px 0 0 6px;
  vertical-align: center;
}

#api-test-url > input {
  flex: 1 1;
  width: 100%;
  padding: 0.35em 0.35em 0.35em 0.15em;
  border: 0.5px solid var(--light-ink);
  margin: 0px;
  border-radius: 0 6px 6px 0;
  font: inherit;
}
